body {
  background: linear-gradient(to bottom, lightgray, gray);
  background-attachment: fixed;
}

.initially-hidden {
  display: none;
  background-color: black;
  width: 90vw;
}

.initially-hidden img {
  width: 90vw;
}

.initially-hidden p {
  color: white;
  margin-left: 2%;
}

.click-style {
  cursor: pointer;
  color: darkgreen;
}

.click-style:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
}

h2 {
  color: white;
}

#islands img {
  border-top: 1px solid white;
}
